version: '3.8'

services:
  web:
    build: .
    container_name: web-portfolio
    restart: unless-stopped
    networks:
      - web-network
  
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web-network
    depends_on:
      - web

networks:
  web-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config: